body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contentWrapper {
  width: 80%; 
  margin: auto;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 2rem
}

nav {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  background-color: rgb(35, 6, 63);
  color: white;
  font-size: 2rem;
}

.right-container {
  width: 100%;
  min-height: 400px;
  background: #f7f5ef;
}